<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Cadastro de clientes</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-client">
    <h5 class="card-header">Lista de clientes</h5>
    <div class="card-body">
      <table class="table" ng>
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">Telefone</th>
              <th scope="col">Email</th>
              <th scope="col">Data de Nascimento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of clientes">
              <td>{{c.id}}</td>
              <td>{{c.nome}}</td>
              <td>{{c.cpf}}</td>
              <td>{{c.telefone}}</td>
              <td>{{c.email}}</td>
              <td>{{c.dataNascimento}}></td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editClient(c)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteClient(c)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>

  <div class="card add-client">
      <h5 class="card-header">Adicionar/Atualizar cliente</h5>
      <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && saveClient(f)" #f="ngForm" novalidate>
            <div class="form-group">
              <p>ID: {{cliente.id}}</p>
            </div>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" [(ngModel)]="cliente.nome" id="nome" name="nome" #nome="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && nome.invalid }" placeholder="Digite o nome">
                <div *ngIf="f.submitted && nome.invalid" class="invalid-feedback">
                    <div *ngIf="nome.errors">Nome é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" [(ngModel)]="cliente.cpf" id="cpf" name="cpf" #cpf="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && cpf.invalid }" placeholder="Digite o CPF">
                <div *ngIf="f.submitted && cpf.invalid" class="invalid-feedback">
                    <div *ngIf="cpf.errors">CPF é obrigatória</div>
                </div>
            </div>
            <div class="form-group">
                <label for="tel">Telefone</label>
                <input type="text" [(ngModel)]="cliente.telefone" id="tel" name="tel" #tel="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && tel.invalid }" placeholder="Digite o Telefone">
                <div *ngIf="f.submitted && tel.invalid" class="invalid-feedback">
                    <div *ngIf="tel.errors">Telefone é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" [(ngModel)]="cliente.email" id="email" name="email" #email="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Digite o Email">
              <div *ngIf="f.submitted && tel.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors">Telefone é obrigatório</div>
              </div>
            </div>
            <div class="form-group">
              <label for="dtnasc">Data Nascimento</label>
              <input type="date" [(ngModel)]="cliente.dataNascimento" id="dtnasc" name="dtnasc" #dtnasc="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && dtnasc.invalid }" placeholder="Digite a Data de Nascimento">
              <div *ngIf="f.submitted && dtnasc.invalid" class="invalid-feedback">
                  <div *ngIf="dtnasc.errors">Telefone é obrigatório</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-add-car" (click)="editClient(cliente)">Salvar</button>
            <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
          </form>
      </div>
    </div>
</div>
